name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure global git auth
        run: git config --global http.https://github.com/.extraheader "$(git config --local http.https://github.com/.extraheader)"

      - name: Build
        run: ./script/build.sh

      - name: Verify no unstaged changes
        run: ./script/verify-no-unstaged-changes.sh

  publish:
    if: github.event_name != 'pull_request'
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: |
        ./script/build.sh

    - name: Release
      run: |
        gh release create v${{github.sha}} --generate-notes ./_layout/action_cache.zip ./_layout/action_cache.tar.gz
      env:
        GH_TOKEN: ${{ github.token }}

